.nav-logo {
  font-size: 1.5rem;
  margin-right: 0.5rem;
  color: rgb(255, 255, 255);
}

.nav-links {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.nav-links a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 1rem;
  transition: 0.3s;
}

.logged {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.dropdown-menu {
  width: 20rem;
  padding: 1rem;
}
