.statistics {
  padding: 1rem;
  max-width: 100%;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

.user-info {
  background-color: #f9f9f9;
  border: 1px solid #e0e0e0;
  margin: 5%;
  font-size: clamp(1rem, 1rem, 2rem);
}

.peaks-list a {
  text-decoration: none;
  color: #0077cc;
  font-weight: bold;
  font-size: clamp(1rem, 4vw, 2rem);
}

progress {
  width: 100%;
  max-height: auto;
  border-radius: 1%;
}

.stats-header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #d8d8d8;
  height: 5rem;
  padding: clamp(1rem, 2vw, 2rem);
  border-bottom-left-radius: 20rem;
  border-bottom-right-radius: 20rem;
}

progress::-webkit-progress-bar {
  background-color: #858585;
}

progress::-webkit-progress-value {
  background: linear-gradient(90deg, rgb(18, 70, 5) 20%, rgb(131, 0, 238) 90%);
}
