
button {
  font-size: 1.1rem !important;
  padding: 0.5rem 1rem !important;
  border: none !important;
  border-radius: 2rem !important;
  cursor: pointer;
  transition: all 0.3s ease !important;
  text-transform: uppercase;
}

button:hover {
  filter: brightness(105%);
}
button.primary {
  background: linear-gradient(135deg, #6a11cb, #2575fc);
  color: white;
}

button.danger {
  background: linear-gradient(135deg, #ff4e50, #d91c28);
  color: white;
}

button.warning {
  background: linear-gradient(135deg, #f39c12, #f1c40f);
  color: white;
}

button.success {
  background: linear-gradient(135deg, #4abe65, #0a7521);
  color: white;
}

.breadcrumb {
  background-color: transparent;
  padding: 0;
  margin-bottom: 1rem;
}

.breadcrumb-item {
  font-size: 1.1rem;
  font-weight: 500;
}

.breadcrumb-item.active {
  color: #6c757d;
}
/* 
.breadcrumb-item + .breadcrumb-item::before {
  content: "›";
  color: #6c757d; 
} */

.breadcrumb-item a {
  color: #007bff;
}

.breadcrumb-item a:hover {
  color: #0056b3;
  text-decoration: underline;
}
